parameters:
    reportUnmatchedIgnoredErrors: false
    level: 8
    paths:
        - src

    excludePaths:
        - 'src/DependencyInjection/Configuration.php'

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
