parameters:
    reportUnmatchedIgnoredErrors: false
    level: 8
    paths:
        - src

    excludePaths:
        - 'src/DependencyInjection/Configuration.php'
        - 'tests/Application/**.php'

    ignoreErrors:
        - '/Parameter #1 \$productRepository of method Sylius\\ProductBundlePlugin\\Component\\Product\\AddToCartFormComponent::initializeProduct\(\) expects Sylius\\Component\\Core\\Repository\\ProductRepositoryInterface<Sylius\\Component\\Core\\Model\\ProductInterface>, Sylius\\Component\\Core\\Repository\\ProductRepositoryInterface<Sylius\\ProductBundlePlugin\\Entity\\ProductInterface> given\./'
        - '/Parameter #10 \$productRepository of method Sylius\\Bundle\\ShopBundle\\Twig\\Component\\Product\\AddToCartFormComponent::__construct\(\) expects Sylius\\Component\\Core\\Repository\\ProductRepositoryInterface\<Sylius\\Component\\Core\\Model\\ProductInterface\>, Sylius\\Component\\Core\\Repository\\ProductRepositoryInterface\<Sylius\\ProductBundlePlugin\\Entity\\ProductInterface\> given\./'
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
